@use '../abstracts/index' as *;
@use '../base/index' as *;

// footer styling
footer {
    background: $primary-light-green;
    padding: 4em 2em;

    .footer__logo {
        height: auto;
        width: 170px;
        display: block;
        margin: 0 auto;
        // change the color of SVG file to color matching primary-desaturated-cyan
        filter: invert(24%) sepia(75%) saturate(303%) hue-rotate(116deg) brightness(46%) contrast(90%);
    }

    ul, .socials {
        display: flex;        
    }

    ul {
        margin: 2em auto 5em;
        justify-content: space-between;
        list-style: none;
        max-width: 300px;        
    }

    a {
        text-decoration: none;
        color: $primary-moderate-cyan;
        letter-spacing: -.13px;

        &:hover {
            color: $white;
        }
    }

    .socials {
        justify-content: center;
    }

    .social__icon + .social__icon {        
        margin-left: 1.5em;
    }

}

.social__icon:hover {
    // change the color of SVG file to white on hover
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(304deg) brightness(200%) contrast(102%)
}
