@use '../abstracts/index' as *;
@use '../base/index' as *;

// gallery styling

.gallery {
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    picture {
        width: 50%;

        @include mq($desktop-break) {
            width: 25%;
        }
    }

    img {
        display: block;
        width: 100%;
        //height: auto;
        // height: auto;
        object-fit: fill;
    }
}