@use '../abstracts/index' as *;
@use '../base/index' as *;

// gallery styling
.gallery {

    display: flex;
    flex-wrap: wrap;

    picture {
        width: 50%;

        @include mq($desktop-break) {
            width: 25%;
        }
    }

    img {
        display: block;
        width: 100%;
        object-fit: fill;
    }
}