@use '../abstracts/index' as *;
@use '../base/index' as *;

// services styling 

.services {
    @include mq($menu-break) {
        display: flex;
    };
}

.service {
    width: 100%;
    height: auto;
}

.service {    
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    h3
    ,p    {        
        content: '';
        position: absolute;    
    }

    h3 {
        top: 65%;

        @include mq($menu-break) {
            font-size: 1.5rem;
            top: 55%;
        };

        @include mq($small-desktop-break) {
            font-size: 1.75rem;
            
        };

        @include mq($desktop-break) {
            font-size: 2rem;  
            top: 57%;          
        };

        @include mq($large-desktop-break) {
            top: 60%;        
        };
    }

    p {
        top: 75%;
        max-width: 90%;
        font-size: 1rem;
 
        @include mq($menu-break) {
            top: 65%;
            font-size: .9375rem;
            max-width: 80%;
        };

        @include mq($small-desktop-break) {
            font-size: 1rem;
            top: 68%;
        };

        @include mq($desktop-break) {            
            font-size: 1.125rem;
            top: 70%;
            max-width: 65%;
        };

        @include mq($large-desktop-break) {
            font-size: 1.125rem;
            max-width: 60%;
        };
    }
}

.service--green {
    color: $primary-desaturated-cyan;
}

.service--blue {
    color: $primary-blue;
}