@use '../abstracts/fonts' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: ff(barlow);
    font-size: 1.125rem;
    font-weight: fw(semi-bold);
}

h1, 
h2, 
h3 {
    margin: 0;
    font-family: ff(fraunces);
    font-weight: fw(boldest);
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 6.25px;
    text-transform: uppercase;

    @include mq($menu-break) {
        font-size: 3rem;
        letter-spacing: 8px;
    }

    @include mq($desktop-break) {
        font-size: 3.5rem;
        letter-spacing: 8.75px;        
    }
}

h2 {
    font-size: 2rem;

    // @include mq($tablet-break) {
    //     font-size: 1.5rem;
    // }

    // @include mq($menu-break) {
    //     font-size: 1.675rem;
    // }

    // @include mq($desktop-break) {
    //     font-size: 2.5rem;
    // }

}

h3 {
    font-size: 1.75rem;
}

p {
    font-weight: fw(semi-bold);
    line-height: 1.6;

    // @include mq($tablet-break) {
    //     font-size: 1rem;
    // }

    // @include mq($menu-break) {
    //     font-size: 1.125rem;
    // }

    // @include mq($desktop-break) {
    //     font-size: 1.125rem;
    // }

}

.menu-item {
    font-size: 1.25rem;
}