$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-desaturated-cyan: hsl(167, 40%, 24%);
$primary-blue: hsl(198, 62%, 26%);
$primary-moderate-cyan: hsl(168, 34%, 41%);
$primary-light-green: #90D4C6;
$primary-light-blue: #78CEF5;


$neutral-dark-blue:hsl(212, 27%, 19%);
$neutral-dark-gray:hsl(213, 9%, 39%);
$neutral-medium-gray:hsl(232, 10%, 55%);
$neutral-light-gray:hsl(210, 4%, 67%);
$white: #fff;


