@use './abstracts/index' as *;
@use './base/typography' as *;
@use './components/index' as *;

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;

}

.attribution {
    color: $neutral-dark-blue;
    margin: 3em auto 2em;
    width: 400px;
    text-align: center;    

    span {
        display: block;
        margin-top: 1em;
    }

    a {
        text-decoration: none;
        color: $primary-blue;
        font-weight: fw(boldest);
        font-family: ff(fraunces);

        &:hover {
            color: $neutral-dark-gray;
            text-decoration: underline;
        }
    }
}