@use './abstracts/index' as *;
@use './base/typography' as *;

$blue: dodgerblue;
// $tablet-break: 600px;
// $menu-break: 750px;
// $desktop-break: 1000px;

html {
    scroll-behavior: smooth;
}

body {
    // background: $blue;

    max-width: 1440px;
    margin: 0 auto;
}

// img {
//     width: 200px;
//     height: auto;
// }


// header styling

header {
    padding: 2em 1em;
    // border: 1px limegreen solid;
    background-image: url('../images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    height: 538px;
    position: relative;
    

    @include mq($menu-break) {
        padding: 2em;
    }

    @include mq($tablet-break) {
        background-image: url('../images/desktop/image-header.jpg');
        height: 700px;
        width: auto;
        margin: 0 auto;
    }

    @include mq($desktop-break) {
        height: 800px;
       
    }
}

.header__logo {
    height: 24px;
    width: auto;

    @include mq($menu-break) {
        height: 33px;
    }

}

.header__title {
    color: $white;
    text-align: center;
    margin-top: 2em;

    @include mq($menu-break) {
        // font-size: 3rem;
        margin-top: 2.3em;
        // letter-spacing: 8px;
    }

    // @include mq($desktop-break) {
    //     font-size: 3.5rem;
    //     letter-spacing: 8.75px;        
    // }
}

.header__arrow {
    width: 30px;
    height: auto;
    // display: block;
    // margin: 3em auto 0;

    content: "";
    position: absolute;
    top: calc(65% - 4em);
    right: calc(50% - 15px);

    @include mq($tablet-break) {
        // margin: 20% auto 0;
        // content: "";
        // position: absolute;
        // top: 40%;
        // right: 50%;

        top: calc(58% - 4em);
    }

    // @include mq($menu-break) {
    //     margin: 6em auto 0;
    // }

    // @include mq($desktop-break) {
    //     margin: 8em auto 0;;
        
    // }
}

.hide {
    display: none;

    @include mq($menu-break) {
        display: block;
    }
}

.adjust-height {
    height: 1px;
}

nav {
    // display: none;
    
    clip-path: polygon(0 9%, 92% 9%, 100% 0, 100% 100%, 0 100%);
    background: white;
    
    height: 329px;
    width: 100%;
    max-width: 400px;
    margin: 1em 0 0 auto;
    position: relative;

    @include mq($menu-break) {
        // display: inline;
        // border: 1px magenta solid;
        clip-path: unset;
        background:transparent;
        height: unset;
        margin: 0;
        top: 0;
        right: 0;
        max-width: 425px;
        position: absolute;
    }
    
    @include mq($desktop-break) {

        max-width: 550px;
        
    }


    ul {
        //box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
//        align-content: center;
        position: absolute;
        list-style: none;
        width: 100%;
        top: 9%;
        height: 91%;
        padding: 2em 0;
        // margin-top: ;

        @include mq($menu-break) {
            padding: 1.2em 1em 2em 0;
            position: unset;
            justify-content: end;
            flex-direction: row;

            height: 100px;
            //width: 100%;
            // top: 0;
            // right: 0;
            z-index: 9;
            //padding: 0 ;
            //width: 400px;
        }
    }

    li {
        text-align: center;
        padding: .75em;
        min-width: 40%;
        margin: 0 auto;
        border-radius: 50px;
       
        &:hover {
            font-family: ff(fraunces);
            background: $primary-yellow;  
            
            @include mq($menu-break) {
                // background: lighten($primary-blue, 50%);  
                background: $primary-light-blue;
            }
        }

        @include mq($menu-break){

            // border: 1px black solid;
            padding: .75em 1em 2em;
            min-width: unset;
            margin: 0;
            
        }

        @include mq($desktop-break){

            // border: 1px black solid;
            padding: .75em 1.75em 2em;
           
            
        }
        
    }

    a {
        text-decoration: none;
        color: $neutral-dark-gray;
        &:hover {
            color: $neutral-dark-blue;

            @include mq($menu-break){
                color: $white;
            }
        }

        @include mq($menu-break) {
            // border: 1px red solid;
            color: $white;            
            font-size: 1.125rem;
        }
    }
}


.nav-toggle {
    padding: 2em .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;

    @include mq($menu-break) {

        display: none;
    };
}

.hamburger {
    display: block;
    position: relative;
    margin-top: .5em;
    height: 2px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: $white;
    width: 2em;
    // height: 2px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: inherit;
}

.hamburger::before { top: 8px; }
.hamburger::after { bottom: 8px; }

// abouts styling

.abouts {
    @include mq($menu-break) {
        display: grid;
        grid-template-columns: repeat(2,minmax(300px, 720px));
        // grid-template-rows: 500px 500px;
        grid-template-areas: 
            "about1 image1"
            "image2 about2"
            ;
    };
}

.about__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about__image--one { grid-area: image1; }
.about__image--two { grid-area: image2; }
.about1 { grid-area: about1; }
.about2 { grid-area: about2; }

.about {
    
    border: 1px purple solid;
    color: $neutral-dark-blue;
    // display: flex;
    // flex-direction: column;
    padding: 3.5em 0;
    text-align: center;
    max-width: 80%;
    margin: auto;

        // @include mq($tablet-break) {
        //     text-align: left;
        //     max-width: 70%;
        //     // min-height: 530px;
        //     padding: 1.5em;
        //     max-width: unset;
        // }

        @include mq($menu-break) {
            text-align: left;
            max-width: 70%;
            // min-height: 530px;
            padding: 1.5em;
            max-width: 80%;
           
        }

    p {
        color: $neutral-medium-gray;
        padding: 1.5em 0;

        @include mq($menu-break) {
            text-align: left;
        }
    }

    a {
        text-decoration: none;
        font-family: ff(fraunces);
        color: $neutral-dark-blue;
        text-transform: uppercase;
        font-size: .9375rem;
        font-weight: fw(boldest);
        position: relative;
        display: block;

        @include mq($menu-break) {
            text-align: left;
            margin-left: 1em;
        }
    }

    a::after {
        content: "";
        display: block;
        border: 4px solid lighten($primary-blue, 20%);
        width: 120px;
        position: absolute;
        top: .85em;
        z-index: -1;
        right: calc(50% - 60px);
        border-radius: 10px;

        @include mq($menu-break) {
            left: -9px;
        }

    }

    a.about--yellow::after {
        border: 4px solid lighten($primary-yellow, 30%);

    }

    a.about--yellow:hover::after {
        border: 4px solid $primary-yellow;
    }

    a.about--red::after {
        border: 4px solid lighten($primary-red, 20%);
    }

    a.about--red:hover::after {
        border: 4px solid $primary-red;
    }
}


// services styling 

.services {
    @include mq($menu-break) {
        display: flex;

    };

}

.service {
    width: 100%;
    height: auto;
    
    
    // img {
    //     object-fit:fill;
    // }

    // @include mq($menu-break) {
    //     height: auto;      
        

    // };
}



.service {
    // border: 1px solid pink;
    
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    h3
    ,p    {
        
        content: '';
        position: absolute;    
    }

    h3 {
        top: 60%;

        @include mq($menu-break) {
            font-size: 1.5rem;
            top: 55%;
        };

        @include mq($small-desktop-break) {
            font-size: 1.75rem;
            
        };

        @include mq($desktop-break) {
            font-size: 2rem;  
            top: 57%;          
        };

        @include mq($large-desktop-break) {
            top: 60%;        
        };

    }

    p {
        top: 70%;
        max-width: 70%;
        
 
        @include mq($menu-break) {
            top: 65%;
            font-size: .9375rem;
            max-width: 80%;
        };

        @include mq($small-desktop-break) {
            font-size: 1rem;
            top: 68%;
        };

        @include mq($desktop-break) {            
            font-size: 1.125rem;
            top: 70%;
            max-width: 65%;
        };

        @include mq($large-desktop-break) {
            font-size: 1.125rem;
            max-width: 60%;
        };
    }



    // .service__image--mobile {
    //     width: auto;
    //     height: 100%;
    //     display: inline-block;
    //     @include mq($desktop-break) {
    //         display: none; 
    //     }
    // }
    
    // .service__image--desktop {
    //     // width: auto;
    //     // height: 100%;
    //     display: none;
    //     // @include mq($desktop-break) {
    //     //     display: inline-block;
    //     //     max-height: 600px;
    //     // }
    // }
}

.service--green {
    color: $primary-desaturated-cyan;
}

.service--blue {
    color: $primary-blue;
}

// testimonial styling

.testimonials {
    padding: 3.5em 1em;
    text-align: center;
    color: $neutral-light-gray;

    .section__title {
        font-family: ff(fraunces);
        font-weight: fw(boldest);
        
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 4px;        
    }

    .testimonial {
        border: 1px solid magenta;
        padding: 3em 0 1em;
        

        img {
            height: 72px;
            width: auto;
            border-radius: 50px;
        }

        .testimonial__statement {
            color: $neutral-dark-gray;
            padding: 2em 0 1.5em;
            max-width: 70%;
            margin: 0 auto;
        }

        .testimonial__name {
            font-family: ff(fraunces);
            font-weight: fw(boldest);
            color: $neutral-dark-blue;
            margin-bottom: .6em;
        }

        .testimonial__title {
            font-size: .875rem;
        }
    }
}

// gallery styling

.gallery {
    display: flex;
    flex-wrap: wrap;

    picture {
        width: 50%;
    }
}

// footer styling
footer {
    background: $primary-light-green;
    padding: 4em 2em;

    .footer__logo {
        height: auto;
        width: 170px;
        display: block;
        margin: 0 auto;
        filter: invert(24%) sepia(75%) saturate(303%) hue-rotate(116deg) brightness(46%) contrast(90%);
    }

    ul, .socials {
        display: flex;
        
    }

    ul {
        margin: 2em auto 5em;
        
        justify-content: space-between;
        list-style: none;
        max-width: 300px;
        
    }

    a {
        text-decoration: none;
        color: $primary-moderate-cyan;
        letter-spacing: -.13px;

        &:hover {
            color: $white;
        }
    }

    .socials {
        justify-content: center;
    }

    .social__icon + .social__icon {
        
        margin-left: 1.5em;
    }

}

.social__icon:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(304deg) brightness(200%) contrast(102%)
}


.attribution {
    color: $neutral-dark-blue;
    margin: 3em auto 2em;
    width: 400px;
    text-align: center;
    

    span {
        display: block;
        margin-top: 1em;
    }

    a {
        text-decoration: none;
        color: $primary-blue;
        font-weight: fw(boldest);
        font-family: ff(fraunces);

        &:hover {
            color: $neutral-dark-gray;
            text-decoration: underline;
        }
    }
}